*{
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
    background-image: url(ride.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, o, 0, 0.1);
}
nav ol{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content : flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100px;
    padding: 0 30px;
    text-decoration: none;
}
